/* register */

.userreg{
    margin: 0 32%;
    width: 50%;
}





/* login */

.tbl1{
    color: rgb(66, 66, 236);
}
#userform{
    margin: 0 20%;
    width: 50%;
}
.tbl1{
    margin: 10px;
    border: 1px solid;
}
td{
    padding: 5px;
}
#btn{
    margin-left: 20%;
}